<h2>Defining Role Permissions</h2>

<%= form_for @resource, as: resource_name, url: role_path(@resource) do |f| %>
  <% Voltex.permission_class.constantize.select(:resource).group(:resource).each do |permission| %>
    <h5><%= permission.resource.pluralize %></h5>
    <%= f.collection_check_boxes(
      "#{permission_resource_name}_ids",
      Voltex.permission_class.constantize.where(resource: permission.resource),
      :id, :action) %>
  <% end %>

  <div class='actions'>
    <%= f.submit %>
  </div>
<% end %>
