<!DOCTYPE html>
<html>
<head>
  <title>Voltex</title>
  <%= stylesheet_link_tag    "voltex/application", media: "all" %>
  <%= javascript_include_tag "voltex/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
